---
title: Home
---

.row
  .col-md-offset-1.col-md-10
    .panel.panel-primary
      .panel-heading
        .panel-title Welcome!
      .panel-body
        :markdown
          Welcome! If you want to learn more about me, this is the 
          place. The short version: I'm a mathematician who does web 
          development, designing puzzles between writing code, teaching math, 
          and doing research.

          Feel free to check out my 
          [blog](/blog/)
          for a sampling of topics of interest to me. If you really want to
          know everything I'm up to, my
          [resume](http://resume.stevenclontz.com)
          is online. I also maintain several repositories on
          [GitHub](http://github.com/StevenClontz)
          which house many of my projects - not just code, but also puzzle
          and mathematical projects.

%section
  .row
    .col-md-2.col-sm-6
      .panel.panel-success
        .panel-heading Blog
        .panel-body
          %img{src:"http://i.imgur.com/otMVMkr.jpg", style:"width:100%"}
    .col-md-2.col-sm-6
      .panel.panel-success
        .panel-heading Mathematics
        .panel-body
          %img{src:"http://i.imgur.com/EwA3KnP.png", style:"width:100%"}
    .col-md-2.col-sm-6
      .panel.panel-success
        .panel-heading Teaching
        .panel-body
          %img{src:"http://i.imgur.com/jslzL8s.jpg", style:"width:100%"}
    .col-md-2.col-sm-6
      .panel.panel-success
        .panel-heading Code
        .panel-body
          %img{src:"http://i.imgur.com/eSrn5Ya.png", style:"width:100%"}
    .col-md-2.col-sm-6
      .panel.panel-success
        .panel-heading Puzzles
        .panel-body
          %img{src:"http://i.imgur.com/DDF34Ry.png", style:"width:100%"}
    .col-md-2.col-sm-6
      .panel.panel-success
        .panel-heading About Me
        .panel-body
          %img{src:"http://i.imgur.com/otMVMkr.jpg", style:"width:100%"}