.jumbotron {
  background-color: #18bc9c;
  border-color: #128f76;
  color: #ffffff;
}

.jumbotron h4, .jumbotron h5 {
  color: #2c3e50;
}

#main {
  margin-top: 60px;
}

section {
  margin-top: 60px;
}

#footer {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 1em;
}

#content img {
  display: block;
  margin: auto;
  border: 1px solid #ddd;
  padding: 5px;
  max-width: 75%;
  max-height: 50%;
}

.panel-heading a {
  color:inherit;
}

.jumbotron .quick-links {
  /*text-align: center;*/
  font-size: 0.9em;
}

.jumbotron .quick-links a {
  color: inherit;
}

.jumbotron .quick-links span+span:before {
  /*color: #2c3e50;*/
  content:" | ";
}

.navbar-inverse .navbar-brand:hover {
  color:#fff;
  cursor: default;
}

.panel {
  border-radius: 0;
}

.panel-heading {
  border-radius: 0;
}

.CodeRay pre {
  border-radius: 0;
}

.CodeRay .line-numbers pre {
  border-right: 0;
}

.CodeRay .code pre {
  border-left: 0;
}