%section#footer.container
  Content &copy;
  = Date.today.strftime("%Y")
  Steven Clontz | Powered by 
  %a{href: 'http://nanoc.ws'} nanoc
  | "Flatly" theme by 
  %a{href: 'http://bootswatch.com'} Bootswatch