%section#footer.container
  %p
    Content &copy;
    = Date.today.strftime("%Y")
    %a{href:"/contact/"}Steven Clontz
    | Check out my
    %a{href: 'http://github.com/StevenClontz/StevenClontz.com'} GitHub
  %p
    "Flatly" theme by
    %a{href: 'http://bootswatch.com'} Bootswatch
    | Static site generated using
    %a{href: 'http://nanoc.ws'} nanoc

%script{type:"text/javascript", src:"https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"}
:javascript
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'] ]
      }
    });