%section#footer.container
  %p
    Content &copy;
    = Date.today.strftime("%Y")
    Steven Clontz | Static site generated with 
    %a{href: 'http://nanoc.ws'} nanoc
  %p
    "Flatly" theme by 
    %a{href: 'http://bootswatch.com'} Bootswatch
    | Fork me on 
    %a{href: 'http://github.com/StevenClontz/StevenClontz.com'} GitHub