%head
  %meta{charset: "utf-8"}
  %title
    = @item[:title]
    | 
    = @config[:site_title]

  %link{href: "/assets/bootswatch-flatly.css", rel: "stylesheet"}
  %link{href: "/assets/style.css", rel: "stylesheet"}
  %link{rel: "canonical", href:"http://www.stevenclontz.com/"}
  %link{rel:"icon", href:"/assets/favicon.ico"}

  %meta{description: @item[:description]}
  %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}
  %meta{name:"author", content:"Steven Clontz"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %meta{property:"og:image", content:"http://i.imgur.com/CKetep2.jpg"}
  %meta{property:"og:description", content:@item[:description]}

  %script{src:"//code.jquery.com/jquery-1.10.2.min.js"}
  %script{src:"//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
  %script{type:"text/javascript", src:"//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"}