.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{ href:"/" } StevenClontz.com
    .navbar-collapse.collapse.navbar-inverse-collapse
      %ul.nav.navbar-nav
        %li
          %a{href:"/math/"} Math
        %li
          %a{href:"/teaching/"} Teaching
        %li
          %a{href:"/code/"} Code
        %li
          %a{href:"/puzzles/"} Puzzles
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href:"/blog/"} Blog
        %li
          %a{href:"/about/"} About Me