!!!
%html{lang: "en"}
  - render "_head" do end

  %body
    .jumbotron
      .container
        %h1 StevenClontz.com
        %h4 A bit about math, teaching, code, and puzzles.
    #main.container
      .row
        .col-md-offset-1.col-md-10
          .panel.panel-primary
            .panel-heading
              .panel-title Welcome!
            .panel-body
              = yield
      %section
        .row
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading Blog
              .panel-body
                %img{src:"http://i.imgur.com/otMVMkr.jpg", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading Mathematics
              .panel-body
                %img{src:"http://i.imgur.com/EwA3KnP.png", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading Teaching
              .panel-body
                %img{src:"http://i.imgur.com/jslzL8s.jpg", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading Code
              .panel-body
                %img{src:"http://i.imgur.com/eSrn5Ya.png", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading Puzzles
              .panel-body
                %img{src:"http://i.imgur.com/DDF34Ry.png", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading About Me
              .panel-body
                %img{src:"http://i.imgur.com/otMVMkr.jpg", style:"width:100%"}
    
    - render "_foot" do end