!!! 5
%html{lang: "en"}
  - render "_head" do end

  %body
    .jumbotron
      .container.hidden-xs
        %h1 StevenClontz.com
        %h4= @config[:site_description]
        .quick-links
          %span
            %a{href:"/blog/"} Blog
          %span
            %a{href:"/math/"} Math
          %span
            %a{href:"/teaching/"} Teaching
          %span
            %a{href:"/code/"} Code
          %span
            %a{href:"/puzzles/"} Puzzles
          %span
            %a{href:"/about/"} About Me
          %span
            %a{href:"/resume/"} CV/Resume
      .container.visible-xs
        %h3 StevenClontz.com
        %h5= @config[:site_description]
    #main.container
      .row
        .col-md-offset-1.col-md-10
          .panel.panel-primary
            .panel-heading
              .panel-title Welcome!
            .panel-body
              = yield
      %section
        .row
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading
                %a{href:'/blog/'} Blog
              .panel-body
                %a{href:'/blog/'}
                  %img{src:"/assets/images/blog.png", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading
                %a{href:'/math/'} Math
              .panel-body
                %a{href:'/math/'}
                  %img{src:"/assets/images/math.png", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading
                %a{href:'/teaching/'} Teaching
              .panel-body
                %a{href:'/teaching/'}
                  %img{src:"/assets/images/teaching.jpg", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading
                %a{href:'/code/'} Code
              .panel-body
                %a{href:'/code/'}
                  %img{src:"/assets/images/code.png", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading
                %a{href:'/puzzles/'} Puzzles
              .panel-body
                %a{href:'/puzzles/'}
                  %img{src:"/assets/images/puzzles.png", style:"width:100%"}
          .col-md-2.col-sm-6
            .panel.panel-success
              .panel-heading
                %a{href:'/about/'} About Me
              .panel-body
                %a{href:'/about/'}
                  %img{src:"/assets/images/about.jpg", style:"width:100%"}

    - render "_foot" do end